{% extends 'company/base.html' %}
{% load static %}

{%block title %}
Stocks{%endblock title %}

{%block headercontent %}
<style>
    input[type="checkbox"] {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
    }

    

    .nav-tabs .nav-link.active {
        color: #ffffff;
        border-color: #ffffff;
        font-family: emoji;
    }
    
    .nav-tabs .nav-link {
        color: #000000;
        text-transform: capitalize;
    }

    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        color: #ffffff;
        background-color: #7A0532;
        border-color: #ffffff;
        border-radius: 15px;
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-transform: capitalize;
    }

    .btn-secondary{
        background-color: #7a0532;
        color: white;
    }

    .btn-outline-secondary:hover {
        color: #000000 !important;
        background-color: #ffffff !important;
        border-color: #7A0532 !important;
    }

    .btn-outline-secondary {
        color: #000000 !important;
        background-color: #ffffff !important;
        border-color: #7A0532 !important;
    }

    .table .thead-dark th {
        color: #ffffff;
        background-color: #7A0532;
        border-color: #454d55;
    }
    .page-item.active .page-link {
        
        color: #f8f9fa;
        background-color: #7A0532;
        border-color: #ffffff;
        border-radius: 7px;
    }
</style>
{%endblock headercontent %}

{%block content %}
<div class="card ">
    <div class="card-body">
        <!-- <form method="post" id="filterform"> -->
        <h2 class="card-title">Filter</h1>
        {% csrf_token %}

        <ul class="nav nav-tabs mb-3" id="myTab" role="tablist" style="colo">
            <li class="nav-item">
                <a class="nav-link active" id="advance-filter-tab" data-toggle="pill" href="#advance-filter" role="tab"
                    aria-controls="advance-filter" aria-selected="false" onclick="applyfilter(this)">Advance Filter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="matching-pair-tab" data-toggle="pill" href="#matching-pair" role="tab"
                    aria-controls="matching-pair" aria-selected="true">Matching Pair</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nogia-tab" data-toggle="pill" href="#nogia" role="tab" aria-controls="nogia"
                    aria-selected="false" onclick="getnongia(this)">Non-Gia</a>
            </li>
            {% comment %} <li class="nav-item">
                <a class="nav-link" id="nogia-tab" data-toggle="pill" href="#excel-download" role="tab"
                    aria-controls="excel-download" aria-selected="false">Download Excel</a>
            </li> {% endcomment %}
        </ul>

        <div class="tab-content mb-1" id="pills-tabContent">
            <div class="tab-pane fade active show" id="advance-filter" role="tabpanel"
                aria-labelledby="advance-filter-tab">
                {% include  "company/advance_filter.html" %}
            </div>
            <div class="tab-pane fade" id="matching-pair" role="tabpanel"
                aria-labelledby="matching-pair-tab"> 
                {% include  "company/matching_pair.html" %}
            </div>
            <div class="tab-pane fade" id="nogia" role="tabpanel"
                aria-labelledby="nogia-tab"> 
                {% include  "company/non-gia.html" %}
            </div>
        </div>


    </div>
</div>
{%endblock content %}

{%block footercontent %} 

$('#submitBtn').click(function () {
    var obj = { csrfmiddlewaretoken: '{{ csrf_token }}' };
    obj.location = $('input[name=location]:checked').map(function () {
        return this.value;
    }).get();

    obj.symmetry = $('input[name=symmetry]:checked').map(function () {
        return this.value;
    }).get();

    obj.polish = $('input[name=polish]:checked').map(function () {
        return this.value;
    }).get();

    obj.shape = $('input[name=shape]:checked').map(function () {
        return this.value;
    }).get();

    obj.clarity = $('input[name=clarity]:checked').map(function () {
        return this.value;
    }).get();

    obj.fancy = $('input[name=fancy]:checked').map(function () {
        return this.value;
    }).get();

    obj.weight = $('input[name=weight]:checked').map(function () {
        return this.value;
    }).get();

    obj.color = $('input[name=color]:checked').map(function () {
        return this.value;
    }).get();

    console.log(obj);
    $.ajax({
        type: 'POST',
        dataType: 'json',
        url: "{% url 'filter' %}",
        data: obj,
        success: function (response) {
            if (response.status == "1") {
                var advance_filter_datatable = $('#advance_filter_datatable').DataTable();
                advance_filter_datatable.clear().draw();
                response.data.forEach(function (item, index) {
                    console.log(item.Scan_Id)
                    url = '<a href="{% url "diamondinfo" %}?q=' + item.Scan_Id + '">...</a>';
                    advance_filter_datatable.row.add([item.GIA_NO, item.STK_ID, item.CRT, item.SHAPE, item.COLOR,  item.CLARITY, item.SYM, url]).draw();
                });
            }
        }
    })
});
function setactive(e) {
    var parentComponent = $(e).closest('.btn');
    if (parentComponent.hasClass('btn-outline-secondary')) {
        parentComponent.removeClass("btn-outline-secondary")
        parentComponent.addClass("btn-secondary");
    }
    else {
        parentComponent.removeClass("btn-secondary")
        parentComponent.addClass("btn-outline-secondary");
    }

}


$(document).ready(function () {
    var non_gia_datatable = $('#non_gia_datatable').DataTable({
        responsive: true,
        columnDefs: [
            { "targets": "_all", "className": 'details-control', "defaultContent": "-", }
        ]
    });



    var advance_filter_datatable = $('#advance_filter_datatable').DataTable({
        dom: 'lBfrtip',
        buttons: [
            {
                extend: 'pdfHtml5',
                download: 'open',
                className: 'btn btn-info mt-3',
                title: 'Sailam Memo',
            },
            {
                extend: 'csvHtml5',
                download: 'open',
                className: 'btn btn-info mt-3',

            },
        ]
    });


});

function getnongia(e) {
    var non_gia_datatable = $('#non_gia_datatable').DataTable();
    $.ajax({
        type: 'GET',
        dataType: 'json',
        url: "{% url 'stocks' %}?flag=non-gia",
        success: function (data) {
            data.stocks.forEach(function (item, index) {

                non_gia_datatable.row.add([item.STK_ID, item.CRT, item.SHAPE, item.COLOR, item.PRICE, item.CLARITY, item.SYM]).draw();
            });
        },
        error: function (xhr, status, error) {
            console.error(error);
        }
    })
}

function populateDataTable(data) {
    var pre = 1
    $.each(data, function (index, item) {
        var row = [
            pre,
            item.stk_id,
            item.gia,
            item.desc,
            item.weight,
            item.measurement,
            item.price,
        ];
        pre += 1;
        // Add the row to the DataTable
        var datatableRow = table.row.add(row).draw().node();

        // Store the child row data for expanding

    });
}
{%endblock footercontent %}