{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static '/company/image/whiteCapa.png' %}">
    <link rel="stylesheet" href="{% static '/company/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/company/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static '/company/css/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static '/company/css/playfairdisplay.css' %}">
    <link rel="stylesheet" href="{% static '/company/css/glamor.css' %}">
    <link rel="stylesheet" href="{% static '/company/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
    <title>Sailam</title>
    <style>
      @media (min-width: 992px) {
        #logo_nav {
            display: none;
        }
    }
    </style>
</head>
<body>
    <!-- section-1 start  -->
    <nav class="navbar navbar-expand-lg">
        <div class="container add_class" id="nav">
          <span id="logo_nav"><a href="#" style="text-decoration: none;"><img src="{% static 'image/logo.png' %}"
            alt="Dispute Bills" height="50px" width="50px">
          <b class="text-light">SAILAM LTD.</b></a>

        </span>
          <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            
            <span class="navbar-toggler-icon"><i class="fa-solid fa-bars-staggered"></i></span>
          </button>
          <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-2">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#home">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Products
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'stocks' %}">Diamonds</a></li>
                  <li><a class="dropdown-item" href="{% url 'jewelry' %}">Jewelry</a></li>
                  <li><a class="dropdown-item" href="{% url 'parcel' %}">Parcel & Layout</a></li>
                  
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">CONTACT</a>
              </li>
              {% comment %} <div class="d-flex align-items-center justify-content-center gap-2">
                <li class="nav-item">
                    <a class="nav-link" href="#"><img src="{% static '/company/image/fb.png' %}" alt="" width="100%"></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><img src="{% static '/company/image/wp.png' %}" alt="" width="100%"></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><img src="{% static '/company/image/Frame.png' %}" alt="" width="100%"></a>
                  </li>
              </div> {% endcomment %}
            </ul>
            <a class="navbar-brand me-auto" href="#"><img src="{% static '/company/image/LOGO.png' %}" alt=""></a>
            <form class="d-flex align-items-center nav_searchbar" style="margin-left: 50px;">
                <i class="fa-solid fa-magnifying-glass"></i>
              <input class="form-control me-5" type="search" placeholder="Search" aria-label="Search">
            </form>
            <div class="d-flex align-items-center justify-content-center gap-3 mt-2 mt-lg-0 pb-3 pb-lg-0">
                {% if is_login == "True" %}
                <a><div class="circle">{{name}}</div></a>
                <button class="nav_button"><a href="{%url 'logout' %}">logout</a></button>
                {% else %}
                <button class="nav_button"><a href="{%url 'register' %}">Sign Up</a></button>
                <button class="nav_button"><a href="{%url 'dashboard' %}">Sign in</a></button>
                {% endif %}
                
            </div>
          </div>
        </div>
      </nav>
    <!-- section-1 end  -->

    <!-- section-2 start  -->
    <section class="fu_customer_review" id="home">
        <div class="container-fluid p-0">
            <div class="slider ">
                <div><img src="{% static '/company/image/Hero.png' %}" alt="" width="100%"></div>
                <div><img src="{% static '/company/image/Hero2.png' %}" alt="" width="100%"></div>
                <div><img src="{% static '/company/image/Hero3.png' %}" alt="" width="100%"></div>
                <div><img src="{% static '/company/image/Hero4.png' %}" alt="" width="100%"></div>
                <div><img src="{% static '/company/image/Hero5.png' %}" alt="" width="100%"></div>    
            </div>
        </div>
    </section>
    <!-- section-2 end  -->

    <!-- section-3 start  -->
    <section class="sail_about" id="about">
        <div class="container">
          <div class="d-lg-flex align-items-center gap-3">
            <div class="col-12 col-lg-4">
                <div class="sail_headding">
                    <img src="{% static '/company/image/Capa_1.png' %}" alt="" width="27px">
                    <h2 class="text-center text-lg-start">About Sailam</h2>
                </div>
                <p class="text-center text-lg-start">Sailam ltd is a name to reckon within the world of diamonds.  As it has been consistently making its way to the top on the basis of its super quality diamonds.  Also one of the most renowned and trusted diamond exporters. With decades of experience.</div>
            <div class="col-12 col-lg-4 pb-3 pb-lg-0">
                <p class="text-center text-lg-start">we have made a magnificent mark in the industry by providing amazing quality diamonds. </div>
            <div class="col-12 col-lg-3">
                <img src="{% static '/company/image/aboutimg.png' %}" alt="" width="100%">
            </div>
          </div>
        </div>
    </section>
    <!-- section-3 end  -->

    <!-- section-4 start  -->
    <section class="sail_values">
        <div class="container">
            <div class="sail_headding">
                <img src="{% static '/company/image/Capa_1.png' %}" alt="" width="27px">
                <h2>Our values</h2>
                <p>100% recycled gold and silver & responsible manufacturing</p>
            </div>
            <div class="d-lg-flex align-items-center justify-content-between">
                <div class="col-12 col-lg-3 p-3">
                    <div class="value_card">
                        <div class="d-flex align-items-center justify-content-between">
                            <img src="{% static '/company/image/icon.png' %}" alt="">
                            <p class="number">01</p>
                        </div>
                        <h2>Faith</h2>
                        <p>We keep our promises, has an alliance to duty, and honors our customers</p>
                    </div>
                </div>
                <div class="col-12 col-lg-3 p-3">
                     <div class="value_card">
                        <div class="d-flex align-items-center justify-content-between">
                            <img src="{% static '/company/image/icon.png' %}" alt="">
                            <p class="number">02</p>
                        </div>
                        <h2>Innovation</h2>
                        <p>Always changing & trying out new ideas and offering new  products and we know how best to serve it</p>
                    </div>
                </div>
                <div class="col-12 col-lg-3 p-3">
                     <div class="value_card">
                        <div class="d-flex align-items-center justify-content-between">
                            <img src="{% static '/company/image/icon.png' %}" alt="">
                            <p class="number">03</p>
                        </div>
                        <h2>Togetherness</h2>
                        <p>we always approach every decision and action with all faith, research and teamwork</p>
                    </div>
                </div>
                <div class="col-12 col-lg-3 p-3">
                     <div class="value_card">
                        <div class="d-flex align-items-center justify-content-between">
                            <img src="{% static '/company/image/icon.png' %}" alt="">
                            <p class="number">04</p>
                        </div>
                        <h2>Accountability</h2>
                        <p>Be willing to detect bottlenecks and proclaim them and willing to provide best assistance</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section-4 end  -->

    <!-- section-5 start  -->
    <section class="sail_offer">
      <div class="container">
        <div class="d-block d-lg-flex align-items-center">
          <div class="col-12 col-lg-6">
            <div class="d-md-flex align-items-center justify-content-center gap-4">
              <div class="col-12 col-md-3 p-3 text-center text-md-start offer_card mt-3 mt-md-0">
                <h2>14+</h2>
                <p>All over
                  World</p>
              </div>
              <div class="col-12 col-md-3 p-3 text-center text-md-start offer_card mt-3 mt-md-0">
                <h2>28+</h2>
                <p>Products available</p>
              </div>
              <div class="col-12 col-md-3 p-3 text-center text-md-start offer_card mt-3 mt-md-0 mb-4 mb-md-0">
                <h2>800+</h2>
                <p>Products Reviews </p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="sail_headding">
              <img src="{% static '/company/image/Capa_1.png' %}" alt="" width="27px">
              <h2>We offer the best elegant style</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- section-5 end  -->

    <!-- section-6 start  -->
    <section class="sail_benefits">
      <div class="container">
        <div class="d-lg-flex align-content-center gap-5">
          <div class="col-12 col-lg-6">
            <img src="{% static '/company/image/diamonimg.png' %}" alt="" width="100%" height="100%">
          </div>
          <div class="col-12 col-lg-5">
            <div class="sail_headding">
              <img src="{% static '/company/image/Capa_1.png' %}" alt="" width="27px">
              <h2>benefits for you</h2>
            </div>
            {% comment %} <p>Legacy of trust:  For more than 40 years, Sailam limited has built a strong reputation for trust and integrity within the industry.  We’re committed to upholding this legacy by consistently delivering on our promises of quality. Our customers can have complete confidence in the diamonds they acquire from us, knowing they are sourced ethically with the highest standards of excellence. </p> {% endcomment %}
           
            <div class="benefits_offer">
              <div class="d-md-flex align-items-center text-center text-md-start">
                <div class="col-2 m-auto">
                  <img src="{% static '/company/image/icon1.png'%}" alt="" width="70px" height="70px">
                </div>
                <div class="col-12 col-md-10">
                  <h2>Legacy of trust</h2>
                  <p>For more than 40 years, Sailam limited has built a strong reputation for trust and integrity within the industry.  We’re committed to upholding this legacy by consistently delivering on our promises of quality. Our customers can have complete confidence in the diamonds they acquire from us, knowing they are sourced ethically with the highest standards of excellence. </p>
                </div>
              </div>
              <div class="d-md-flex align-items-center mt-4  text-center text-md-start">
                <div class="col-2 m-auto">
                  <img src="{% static '/company/image/img2.png' %}" alt="" width="70px" height="70px">
                </div>
                <div class="col-12 col-md-10">
                  <h2>Flow less quality</h2>
                  <p>We are dedicated to provide our customers with nothing but highest quality fancy colored diamonds.  Every diamonds in our collection undergoes quality control to ensure its authenticity precision cut and exceptional clarity.  We guarantee that our customers receives only finest fancy colored diamonds.</p>
                </div>
              </div>
              <div class="d-md-flex align-items-center mt-4  text-center text-md-start">
                <div class="col-2 m-auto">
                  <img src="{% static '/company/image/img3.png' %}" alt="" width="70px" height="70px">
                </div>
                <div class="col-12 col-md-10">
                  <h2>Expertise and Experience</h2>
                  <p>With 40+ years of experience and deep expertise in diamond industry, we transform each diamond into breathtaking master piece by combining traditional technique’s with modern and innovative methods. Our craftsmen bring out inherent beauty of every diamond.</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- section-6 end  -->

    <!-- section-7 start  -->
    <section class="sail_inventry">
      <div class="container">
        <div class="d-lg-flex align-items-center gap-3">
          <div class="col-12 col-lg-4">
            <div class="sail_headding">
              <img src="{% static '/company/image/Capa_1.png' %}" alt="" width="27px">
              <h2>Explore our Inventory</h2>
              <p>Our diamonds range in a variety of cuts, carat weights, colors, and clarities, catering to diverse tastes and preferences.</p>
            </div>
          </div>
          <div class="col-12 col-lg-8">
            <div class="d-md-flex align-items-center justify-content-start">
              <div class="col-12 col-md-4 p-3 text-center text-md-start  mt-3 mt-md-0">
                <div class="inventry_card p-3">
                  <img src="{% static '/company/image/icon-expo-1.png' %}" alt="" width="20%">
                  <h2>diamonds</h2>
                  <p>Discover the Radiance: Explore our Exquisite Diamond Collection.</p>
                  <a href="{% url 'stocks' %}">View More <i class="fa-solid fa-arrow-right-long"></i></a>
                </div>
              </div>
              <div class="col-12 col-md-4 p-3 text-center text-md-start  mt-3 mt-md-0">
                <div class="inventry_card p-3">
                  <img src="{% static '/company/image/necklessstand.png' %}" alt="" width="20%">
                  <h2>jewelry</h2>
                  <p>Timeless Elegance: Browse Our Stunning Jewelry Selection.</p>
                  <a href="{% url 'jewelry' %}">View More <i class="fa-solid fa-arrow-right-long"></i></a>
                </div>
              </div>
              <div class="col-12 col-md-4 p-3 text-center text-md-start  mt-3 mt-md-0">
                <div class="inventry_card p-3">
                  <img src="{% static '/company/image/nakeless.png' %}" alt="" width="20%">
                  <h2>parcel inviter</h2>
                  <p>Exclusive Offers: Discover Our Parcel Inviter Collection with best price.</p>
                  <a href="{% url 'parcel' %}">View More <i class="fa-solid fa-arrow-right-long"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- section-7 end  -->

    <!-- section-8 start  -->
    <section class="sail_contact" id="contact">
      <div class="container">
        <div class="d-lg-flex align-items-center">
          <div class="col-12 col-lg-4 border border-danger contact_details">
            <div class="sail_headding">
              <img src="{% static '/company/image/whiteCapa.png' %}" alt="" width="27px">
              <h2>Let's get in touch</h2>
              <p>SAILAM LIMITED</p>
            </div>
            <div class="contect_us mt-4">
              <div class="d-md-flex align-items-center text-center text-md-start">
                <div class="col-2 m-auto">
                  <a href="#"><i class="fa-solid fa-location-dot fa-xl" style="color: #ffffff;"></i></a>
                </div>
                <div class="col-12 col-md-10">
                  <p>Address: 1721, Beverely commercial center,
                    87-105 chatham road south,
                    tsim shah tsui, Hong Kong                    
                  </p>
                </div>
              </div>
              <div class="d-md-flex align-items-center text-center text-md-start mt-4">
                <div class="col-2 m-auto">
                  <a href="#"><i class="fa-solid fa-mobile-screen-button fa-xl" style="color: #ffffff;"></i></a>
                </div>
                <div class="col-12 col-md-10">
                  <p>Phone: 852 9122 4906</p>
                </div>
              </div>
              <div class="d-md-flex align-items-center text-center text-md-start mt-4">
                <div class="col-2 m-auto">
                  <a href="#"><i class="fa-regular fa-envelope fa-xl" style="color: #ffffff;"></i></a>
                </div>
                <div class="col-12 col-md-10">
                  <p><a href="mailto:sailamltdhk@gmail.com">Email ID: sailamltdhk@gmail.com</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-8 contact_form">
            <h2>Let's get in touch</h2>
            
            <form class="row g-3">
              <div class="col-md-6">
                <label for="validationDefault01" class="form-label">FULL NAME</label>
                <input type="text" class="form-control" id="validationDefault01" placeholder="Name" required>
              </div>
              <div class="col-md-6">
                <label for="validationDefault02" class="form-label">EMAIL ADDRESS</label>
                <input type="text" class="form-control" id="validationDefault02" placeholder="Email" required>
              </div>
              <br><br><br>
              <br><br><br>
              {% comment %} <div class="col-md-12">
                <label for="validationDefault03" class="form-label">SUBJECT</label>
                <input type="text" class="form-control" id="validationDefault03" placeholder="Subject" required>
              </div> {% endcomment %}
              <div class="col-md-12">
                <label for="floatingTextarea2">MESSAGE</label>
                <textarea class="form-control" placeholder="Message" id="floatingTextarea2" style="height: 100px"></textarea>
              </div>
              <div class="col-12">
                <button class="btn btn-primary" type="submit">Submit</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </section>
    <!-- section-8 end  -->

    <!-- section-9 start  -->
    <section class="sail_footer">
      <div class="container">
          <div class="d-lg-flex align-items-center page_links gap-5">
            <div class="col-12 col-lg-3 office_details">
              <img src="{% static '/company/image/LOGO.png' %}" alt="" width="200px" height="75px">
              <div class="mb-2">
                <a href="">Office : 1721, Beverely Commercial Center, 87-105 Chatham Road South, Tsim Shah Tsui, Hong Kong </a>
              </div>
              <div class="mb-2">
                <a href="mailto:sailamltdhk@gmail.com">Mail : sailamltdhk@gmail.com</a>
              </div>
              <div>
                <a href="tel:85291224906">Phone : 852 9122 4906</a>
              </div>
              <div class="mt-3">
                <a href=""><img src="{% static '/company/image/fb.png' %}" alt=""></a>
                <a href=""><img src="{% static '/company/image/wp.png' %}" alt=""></a>
                <a href=""><img src="{% static '/company/image/Frame.png' %}" alt=""></a>
              </div>
            </div>
            <div class="col-12 col-lg-3 mt-3 mt-lg-0">
              <h2>INFORMATION</h2>
              <ul>
                <li><a href="">diamonds</a></li>
                <li><a href="">jewellery</a></li>
                <li><a href="">parcel inviter</a></li>
                <li><a href="">CONTACT</a></li>
                <li><a href="">About</a></li>
              </ul>
            </div>
            <div class="col-12 col-lg-3 mt-3 mt-lg-0">
              <h2>USEFUL LINKS</h2>
              <ul>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Terms & Condition</a></li>
              </ul>
            </div>
          </div>
      </div>
    </section>
    <!-- section-9 end  -->


    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="{% static '/company/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/company/js/script.js' %}"></script>
</body>
</html>

