{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="{% static '/company/image/whiteCapa.png' %}">
    <title>{% block title %}{% endblock title %}</title>
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="{% static '/assets/css/simplebar.css' %}">
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="{% static '/assets/css/feather.css' %}">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="{% static '/assets/css/daterangepicker.css' %}">
    <!-- App CSS -->
    <link rel="stylesheet" href="{% static '/assets/css/app-light.css' %}" id="lightTheme">
    <link rel="stylesheet" href="{% static '/assets/css/app-dark.css' %}" id="darkTheme" disabled>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap4.min.css" integrity="sha512-PT0RvABaDhDQugEbpNMwgYBCnGCiTZMh9yOzUsJHDgl/dMhD9yjHAwoumnUk3JydV3QTcIkNDuN40CJxik5+WQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="{% static '/assets/js/popper.min.js' %}"></script>
    <script src="{% static '/assets/js/jquery.min.js' %}"></script>
    <script src="{% static '/assets/js/bootstrap.min.js' %}"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/dataTables.bootstrap4.min.js" integrity="sha512-OQlawZneA7zzfI6B1n1tjUuo3C5mtYuAWpQdg+iI9mkDoo7iFzTqnQHf+K5ThOWNJ9AbXL4+ZDwH7ykySPQc+A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    {%block header_files %} {%endblock header_files %}
  </head>
  <body class="vertical  light  ">
    <div class="wrapper">
      <nav class="topnav navbar navbar-light">
        <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar">
          <i class="fe fe-menu navbar-toggler-icon"></i>
        </button>
        
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link text-muted my-2" href="/logout" id="logout">
              <i class="fe fe-log-out fe-16"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted my-2" href="#" id="modeSwitcher" data-mode="light">
              <i class="fe fe-sun fe-16"></i>
            </a>
          </li>
          <li class="nav-item nav-notif">
            <a class="nav-link text-muted my-2" href="./#" data-toggle="modal"  onclick="getMessage()" data-target=".modal-notif" >
              <span class="fe fe-bell fe-16"></span>
              <span class="dot dot-md bg-success"></span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link text-muted my-2" href="/getprofileview" id="logout">
              <i class="fe fe-users fe-16"></i>
            </a>
          </li>
        </ul>
      </nav>
      <aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>
        <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
          <i class="fe fe-x"><span class="sr-only"></span></i>
        </a>
        <nav class="vertnav navbar navbar-light">
          <!-- nav bar -->
          <div class="w-100 mb-4 d-flex">
            <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="{% url 'dashboard'%}">
              <img src="{% static 'image/logo.png' %}"
                                alt="Dispute Bills" height="50px" width="50px"><b class="text-dark">   SAILAM LTD.</b>
            </a>
          </div>
          <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item w-100">
              <a href="{% url 'dashboard'%}" class="nav-link">
                <i class="fe fe-home fe-16"></i>
                <span class="ml-3 item-text">Dashboard</span><span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
          <p class="text-muted nav-heading mt-4 mb-1">
            <span>Inventory</span>
          </p>
          <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item w-100">
              <a href="/inventory/insertdiamond" class="nav-link">
                <i class="fe fe-box fe-16"></i>
                <span class="ml-3 item-text">Insert Diamond Data</span>
              </a>
            </li>
            <li class="nav-item w-100">
              <a class="nav-link" href="/inventory/scanner">
                <i class="fe fe-layers fe-16"></i>
                <span class="ml-3 item-text">Scan QR Code</span>
                {% comment %} <span class="badge badge-pill badge-primary">New</span> {% endcomment %}
              </a>
            </li>
            <li class="nav-item w-100">
              <a class="nav-link" href="/inventory/stock">
                <i class="fe fe-eye fe-16"></i>
                <span class="ml-3 item-text">View Live Stock</span>
                {% comment %} <span class="badge badge-pill badge-primary">New</span> {% endcomment %}
              </a>
            </li>
            <li class="nav-item w-100">
              <a class="nav-link" href="/inventory/viewHidden">
                <i class="fe fe-shield-off fe-16"></i>
                <span class="ml-3 item-text">View Hidden Stock</span>
                {% comment %} <span class="badge badge-pill badge-primary">New</span> {% endcomment %}
              </a>
            </li>
            <li class="nav-item w-100">
              <a class="nav-link" href="/inventory/allview">
                <i class="fe fe-bar-chart-2 fe-16"></i>
                <span class="ml-3 item-text">View Status</span>
                {% comment %} <span class="badge badge-pill badge-primary">New</span> {% endcomment %}
              </a>
            </li>
            <li class="nav-item w-100">
              <a class="nav-link" href="/inventory/viewMemo">
                <i class="fe fe-list fe-16"></i>
                <span class="ml-3 item-text">View Memo Prepared</span>
                {% comment %} <span class="badge badge-pill badge-primary">New</span> {% endcomment %}
              </a>
            </li>
            <li class="nav-item w-100">
              <a class="nav-link" href="/inventory/getGroupView">
                <i class="fe fe-chevrons-right fe-16"></i>
                <span class="ml-3 item-text">View Match Diamond</span>
                {% comment %} <span class="badge badge-pill badge-primary">New</span> {% endcomment %}
              </a>
            </li>
            <li class="nav-item w-100">
              <a class="nav-link" href="/inventory/getTallyView">
                <i class="fe fe-trending-up fe-16"></i>
                <span class="ml-3 item-text">View Tally Status</span>
                {% comment %} <span class="badge badge-pill badge-primary">New</span> {% endcomment %}
              </a>
            </li>
            
          </ul>
          <p class="text-muted nav-heading mt-4 mb-1">
            <span>Parcels & Jewellery</span>
          </p>
          <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item w-100">
              <a href="/parcels/insert" class="nav-link">
                <i class="fe fe-plus-circle fe-16"></i>
                <span class="item-text ml-3">Insert Parcels & Jewellery</span>
              </a>
            </li>
            <li class="nav-item w-100">
              <a href="/parcels/viewparcels" class="nav-link">
                <i class="fe fe-command fe-16"></i>
                <span class="item-text ml-3">Parcels</span>
              </a>
            </li>
            <li class="nav-item w-100">
              <a href="/parcels/allParcels" class="nav-link">
                <i class="fe fe-eye fe-16"></i>
                <span class="item-text ml-3">View Parcels</span>
              </a>
            </li>
            <li class="nav-item w-100">
              <a href="/parcels/viewjewellery" class="nav-link">
                <i class="fe fe-wind fe-16"></i>
                <span class="item-text ml-3">Jewellery</span>
              </a>
            </li>
            <li class="nav-item w-100">
              <a href="/parcels/allJewellery" class="nav-link">
                <i class="fe fe-eye fe-16"></i>
                <span class="item-text ml-3">View Jewellery</span>
              </a>
            </li>
          </ul>
          <p class="text-muted nav-heading mt-4 mb-1">
            <span>Logs & Messages</span>
          </p>
          <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item w-100">
              <a href="/message/getlogview" class="nav-link">
                <i class="fe fe-activity fe-16"></i>
                <span class="item-text ml-3">Activity Logs</span>
              </a>
            </li>    
          </ul>
        </nav>
      </aside>
      <main role="main" class="main-content">
        <div class="container-fluid">
          
            

            {%block content %} {%endblock content %}
            <!-- MAIN CONTENT -->


          </div> 
        </div> 

        <div class="modal fade modal-notif modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="defaultModalLabel">Notifications</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="list-group list-group-flush my-n3">
                  
               </div>
              </div>
           </div>
         </div>
        </div>
       
      </main> <!-- main -->
    </div> <!-- .wrapper -->
    <script src="{% static '/assets/js/moment.min.js' %}"></script>
    <script src="{% static '/assets/js/simplebar.min.js' %}"></script>
    <script src="{% static '/assets/js/daterangepicker.js' %}"></script>
    <script src="{% static '/assets/js/jquery.stickOnScroll.js' %}"></script>
    <script src="{% static '/assets/js/tinycolor-min.js' %}"></script>
    <script src="{% static '/assets/js/config.js' %}"></script>
    <script src="{% static '/assets/js/jquery.sparkline.min.js' %}"></script>
    <script src="{% static '/assets/js/apexcharts.min.js' %}"></script>
    <script src="{% static '/assets/js/apexcharts.custom.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static '/assets/js/apps.js' %}"></script>
    {%block footer_files %} {%endblock footer_files %}

    <script>
      function getMessage()
      {
        $(".list-group").empty()
          $.ajax({
            url: "{% url 'get_message' %}",
            type: 'GET',
            dataType: 'json', 
            success: function(res) {
               loadMessage(res)
            }
        });
      }

        function loadMessage(data)
        {
          data.forEach(function(item)
          {
              var outerDiv = $("<div>").addClass("list-group-item bg-transparent");
              var innerRow = $("<div>").addClass("row align-items-center");
              var columnDiv = $("<div>").addClass("col");
              var successMessage = $("<small>").html("<strong>" + item["Message"] +"</strong>");
              var timestamp = $("<small>").addClass("badge badge-pill badge-light text-muted").text(item["Time"]+"h ago");
            
              columnDiv.append(successMessage,timestamp);
              
              innerRow.append(columnDiv);
              
              outerDiv.append(innerRow);
              
              $(".list-group").append(outerDiv);
          });
      
        }
    </script>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>
  </body>
</html>