{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Diamond Details</title>
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="{% static '/assets/css/simplebar.css' %}">
    <!-- Fonts CSS -->
    <link
        href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!-- Icons CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static '/assets/css/feather.css' %}">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="{% static '/assets/css/daterangepicker.css' %}">
    <!-- App CSS -->
    <link rel="stylesheet" href="{% static '/assets/css/app-light.css' %}" id="lightTheme">
    <link rel="stylesheet" href="{% static '/assets/css/app-dark.css' %}" id="darkTheme" disabled>

</head>

<body>


    <nav class="topnav navbar navbar-light bg-white shadow mb-4">
        <div class="container-fluid">
            <ul class="nav">
                <li class="nav-item"></li>
                <li class="nav-item"></li>
                <li class="nav-item"></li>
                <li class="nav-item"></li>
                <li class="nav-item">
                    <div class="w-100  d-flex my-2">
                        <a class="navbar-brand mx-auto mt-2 flex-fill " href="http://127.0.0.1:8000/">
                            <img src="{% static 'image/logo.png' %}" alt="" height="50px" width="50px">
                            <b>SAILAM</b>
                        </a>
                    </div>
                </li>
            </ul>
            <ul class="nav">
                <li class="nav-item ">
                    <h5>GIA REPORT : 1234567890</h5>
                </li>
            </ul>
            <div class="col-sm-4">
                <ul class="nav">
                    <li class="nav-item">

                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <!-- <form method="post" id="filterform"> -->
                        <h4 class="card-title">Filter</h4>
                        {% csrf_token %}
                        <div class="form-group row">


                            <div class="card-body">
                                <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill"
                                            href="#pills-home" role="tab" aria-controls="pills-home"
                                            aria-selected="false" onclick="applyfilter(this)">Advance Filter</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill"
                                            href="#pills-profile" role="tab" aria-controls="pills-profile"
                                            aria-selected="true">Matching Pair</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill"
                                            href="#pills-contact" role="tab" aria-controls="pills-contact"
                                            aria-selected="false" onclick="getnongia(this)">Non-Gia
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill"
                                            href="#excel-download" role="tab" aria-controls="excel-download"
                                            aria-selected="false">Download Excel</a>
                                    </li>
                                </ul>
                                <div class="tab-content mb-1" id="pills-tabContent">
                                    <div class="tab-pane fade active show" id="pills-home" role="tabpanel"
                                        aria-labelledby="pills-home-tab">
                                        <div>
                                            <div class="form-group col-md-12">
                                                <label for="shape" style="margin-right: 40px;">
                                                    SHAPE</label>

                                                    <label class="btn mb-1 btn-primary"><input type="checkbox"
                                                        name="shape" value="ALL"
                                                        onclick="setactive(this)" checked><span>ALL</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="shape" value="OVAL"
                                                        onclick="setactive(this)"><span>OVAL</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="shape" value="PEAR"
                                                        onclick="setactive(this)"><span>PEAR</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="shape" value="MARQUIS"
                                                        onclick="setactive(this)"><span>MARQUIS</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="shape" value="HEART"
                                                        onclick="setactive(this)"><span>HEART</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="shape" value="CUSHION"
                                                        onclick="setactive(this)"><span>CUSHION</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="shape" value="RADIANT"
                                                        onclick="setactive(this)"><span>RADIANT</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="shape" value="EMERALD"
                                                        onclick="setactive(this)"><span>EMERALD</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="shape" value="PRINCESS"
                                                        onclick="setactive(this)"><span>PRINCESS</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="shape" value="ROUND"
                                                        onclick="setactive(this)"><span>ROUND</span>
                                                    </label>


                                                
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label for="shape" style="margin-right: 35px;">
                                                    WEIGHT</label>
                                                    <label class="btn mb-1 btn-primary"><input type="checkbox"
                                                        name="weight" value="ALL"
                                                        onclick="setactive(this)" checked><span>ALL</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="weight" value="0.30 DOWN"
                                                        onclick="setactive(this)"><span>0.30 DOWN</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="weight" value="0.31-0.5"
                                                        onclick="setactive(this)"><span>0.31-0.5</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="weight" value="0.51-1.00"
                                                        onclick="setactive(this)"><span>0.51-1.00</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="weight" value="1.00"
                                                        onclick="setactive(this)"><span>1.00</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="weight" value="1.00-3.00"
                                                        onclick="setactive(this)"><span>1.00-3.00</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="weight" value="3.00-5.00"
                                                        onclick="setactive(this)"><span>3.00-5.00</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="weight" value="5.00+"
                                                        onclick="setactive(this)"><span>5.00+</span>
                                                    </label>




                                            </div>
                                            <div class="form-group col-md-12">
                                                <label for="shape" style="margin-right: 40px;">
                                                    COLOR</label>
                                                    <label class="btn mb-1 btn-primary"><input type="checkbox"
                                                        name="color" value="ALL"
                                                        onclick="setactive(this)" checked><span>ALL</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="color" value="D"
                                                        onclick="setactive(this)"><span>D</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="color" value="E"
                                                        onclick="setactive(this)"><span>E</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="color" value="F"
                                                        onclick="setactive(this)"><span>F</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="color" value="G"
                                                        onclick="setactive(this)"><span>G</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="color" value="H"
                                                        onclick="setactive(this)"><span>H</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="color" value="I"
                                                        onclick="setactive(this)"><span>I</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="color" value="J"
                                                        onclick="setactive(this)"><span>J</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="color" value="K"
                                                        onclick="setactive(this)"><span>K</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="color" value="L"
                                                        onclick="setactive(this)"><span>L</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="color" value="M"
                                                        onclick="setactive(this)"><span>M</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="color" value="N"
                                                        onclick="setactive(this)"><span>N</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="color" value="O-P"
                                                        onclick="setactive(this)"><span>O-P</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="color" value="Q-R"
                                                        onclick="setactive(this)"><span>Q-R</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="color" value="S-T"
                                                        onclick="setactive(this)"><span>S-T</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="color" value="U-V"
                                                        onclick="setactive(this)"><span>U-V</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="color" value="W-X"
                                                        onclick="setactive(this)"><span>W-X</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="color" value="Y-Z"
                                                        onclick="setactive(this)"><span>Y-Z</span>
                                                    </label>
                                               
                                            </div>

                                            <div class="form-group col-md-12">
                                                <label for="shape" style="margin-right: 45px;">
                                                    FANCY</label>

                                                    <label class="btn mb-1 btn-primary"><input type="checkbox"
                                                        name="fancy" value="ALL"
                                                        onclick="setactive(this)" checked><span>ALL</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="fancy" value="YELLOW"
                                                        onclick="setactive(this)"><span>ALL YELLOW</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="fancy" value="PINK"
                                                        onclick="setactive(this)"><span>ALL PINK</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="fancy" value="GREEN"
                                                        onclick="setactive(this)"><span>ALL GREEN</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="fancy" value="BLUE"
                                                        onclick="setactive(this)"><span>ALL BLUE</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="fancy" value="ORANGE"
                                                        onclick="setactive(this)"><span>ALL ORANGE</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="fancy" value="PURPLE"
                                                        onclick="setactive(this)"><span>ALL PURPLE</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="fancy" value="CAMALION"
                                                        onclick="setactive(this)"><span>ALL CAMALION</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="fancy" value="BROWN"
                                                        onclick="setactive(this)"><span>ALL BROWN</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="fancy" value="VIOLET"
                                                        onclick="setactive(this)"><span>ALL VIOLET</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="fancy" value="RED"
                                                        onclick="setactive(this)"><span>ALL RED</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="fancy" value="GRAY"
                                                        onclick="setactive(this)"><span>ALL GRAY</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="fancy" value="BLACK"
                                                        onclick="setactive(this)"><span>ALL BLACK</span>
                                                    </label>
                                                    <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="fancy" value="WHITE"
                                                        onclick="setactive(this)"><span>FANCY WHITE</span>
                                                    </label>
                                                
                                                 

                                            </div>
                                            <div class="form-group col-md-12">
                                                <label for="shape" style="margin-right: 32px;">
                                                    CLARITY</label>

                                                <label class="btn mb-1 btn-primary"><input type="checkbox"
                                                    name="clarity" value="ALL"
                                                    onclick="setactive(this)" checked><span>ALL</span>
                                                </label>
                                                <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                    name="clarity" value="FL"
                                                    onclick="setactive(this)" ><span>FL</span>
                                                </label>
                                                <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                    name="clarity" value="IF"
                                                    onclick="setactive(this)" ><span>IF</span>
                                                </label>
                                                <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                    name="clarity" value="VVS1"
                                                    onclick="setactive(this)" ><span>VVS1</span>
                                                </label>
                                                <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                    name="clarity" value="VVS2"
                                                    onclick="setactive(this)" ><span>VVS2</span>
                                                </label>
                                                <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                    name="clarity" value="VS1"
                                                    onclick="setactive(this)" ><span>VS1</span>
                                                </label>
                                                <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                    name="clarity" value="VS2"
                                                    onclick="setactive(this)" ><span>VS2</span>
                                                </label>
                                                <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                    name="clarity" value="SI1"
                                                    onclick="setactive(this)" ><span>SI1</span>
                                                </label>
                                                <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                    name="clarity" value="SI2"
                                                    onclick="setactive(this)" ><span>SI2</span>
                                                </label>
                                                <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                    name="clarity" value="SI2-"
                                                    onclick="setactive(this)" ><span>SI2-</span>
                                                </label>
                                                <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                    name="clarity" value="SI3"
                                                    onclick="setactive(this)" ><span>SI3</span>
                                                </label>
                                                <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                    name="clarity" value="I1"
                                                    onclick="setactive(this)" ><span>I1</span>
                                                </label>
                                                <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                    name="clarity" value="I2"
                                                    onclick="setactive(this)" ><span>I2</span>
                                                </label>
                                                <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                    name="clarity" value="I3"
                                                    onclick="setactive(this)" ><span>I3</span>
                                                </label>

                                                

                                            </div>
                                            <div class="form-group col-md-12">
                                                <label for="shape" style="margin-right: 40px;">
                                                    POLISH</label>
                                                <label class="btn mb-1 btn-primary"><input type="checkbox"
                                                        name="polish" value="ALL"
                                                        onclick="setactive(this)" checked><span>ALL</span>
                                                </label>
                                                <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="polish" value="EX"
                                                        onclick="setactive(this)" ><span>EX</span>
                                                </label>
                                                <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="polish" value="VG"
                                                        onclick="setactive(this)" ><span>VG</span>
                                                </label>
                                                <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="polish" value="G"
                                                        onclick="setactive(this)" ><span>G</span>
                                                </label>
                                                <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="polish" value="FAIR"
                                                        onclick="setactive(this)" ><span>FAIR</span>
                                                </label>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label for="shape" style="margin-right: 5px;">
                                                    SYMMENTRY</label>
                                                <label class="btn mb-1 btn-primary"><input type="checkbox"
                                                        name="symmetry" value="ALL"
                                                        onclick="setactive(this)" checked><span>ALL</span>
                                                </label>
                                                <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="symmetry" value="EX"
                                                        onclick="setactive(this)" ><span>EX</span>
                                                </label>
                                                <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="symmetry" value="VG"
                                                        onclick="setactive(this)" ><span>VG</span>
                                                </label>
                                                <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="symmetry" value="G"
                                                        onclick="setactive(this)" ><span>G</span>
                                                </label>
                                                <label class="btn mb-1 btn-outline-primary"><input type="checkbox"
                                                        name="symmetry" value="FAIR"
                                                        onclick="setactive(this)" ><span>FAIR</span>
                                                </label>
                                               
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label for="shape" style="margin-right:20px;">
                                                    LOCATION</label>
                                                <label class="btn mb-1 btn-primary"><input type="checkbox"
                                                        name="location" value="ALL"
                                                        onclick="setactive(this)" checked><span>ALL</span>
                                                </label>
                                                <label class="btn mb-1 btn-outline-primary">
                                                    <input type="checkbox" name="location" value="mumbai"
                                                        onclick="setactive(this)"><span>MUMBAI</span>
                                                </label>
                                                <label class="btn mb-1 btn-outline-primary">
                                                    <input type="checkbox" name="location" value="honk-kong"
                                                        onclick="setactive(this)"><span>HONG
                                                        KONG</span>
                                                </label>
                                                <label class="btn mb-1 btn-outline-primary">
                                                    <input type="checkbox" name="location" onclick="setactive(this)"
                                                        value="taiwan"><span>TAIWAN</span>
                                                </label>
                                                <label class="btn mb-1 btn-outline-primary">
                                                    <input type="checkbox" name="location" onclick="setactive(this)"
                                                        value="surat"><span>SURAT</span>
                                                </label>
                                                <label class="btn mb-1 btn-outline-primary">
                                                    <input type="checkbox" name="location" onclick="setactive(this)"
                                                        value="bangkok"><span>BANGKOK</span>
                                                </label>

                                            </div>
                                            <div class="form-group col-md-12">
                                                <button type="submit" id="submitBtn"
                                                    class="btn btn-primary float-right">Apply</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                        aria-labelledby="pills-profile-tab"> Anim pariatur cliche reprehenderit,
                                        enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
                                        officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                                        nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                                        bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                    </div>
                                    <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                                        aria-labelledby="pills-contact-tab"> Anim pariatur cliche reprehenderit,
                                        enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
                                        officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                                        nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                                        bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- </form> -->
                    </div>
                    <div class="container-fluid">
                        <table class="table table-hover  border-v">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="gia">GIA No</th>
                                    <th>Stock Id</th>
                                    <th>Weight</th>
                                    <th>Shape</th>
                                    <th>Colour</th>
                                    <th>Price</th>
                                    <th>Purity</th>
                                    <th>Symmetry</th>
                                    <th>Morer Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for stock in stocks %}
                                <tr>
                                    <td class="gia">{{stock.GIA_NO}}</td>
                                    <td>{{stock.STK_ID}}</td>
                                    <td>{{stock.CRT}}</td>
                                    <td>{{stock.SHAPE}}</td>
                                    <td>{{stock.COLOR}}</td>
                                    <td>{{stock.PRICE}}</td>
                                    <td>{{stock.CLARITY}}</td>
                                    <td>{{stock.SYM}}</td>
                                    <td><a href="{% url 'diamondinfo' %}?q={{stock.Scan_Id}}">...</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



        </div>

    </div>

    <style>
        input[type="checkbox"] {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            cursor: pointer;
        }
    </style>

    <script src="{% static '/assets/js/apps.js' %}"></script>

    <script src="{% static '/assets/js/jquery.min.js' %}"></script>
    <script src="{% static '/assets/js/popper.min.js' %}"></script>
    <script src="{% static '/assets/js/moment.min.js' %}"></script>
    <script src="{% static '/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/assets/js/simplebar.min.js' %}"></script>
    <script src="{% static '/assets/js/daterangepicker.js' %}"></script>
    <script src="{% static '/assets/js/jquery.stickOnScroll.js' %}"></script>
    <script src="{% static '/assets/js/tinycolor-min.js' %}"></script>
    <script src="{% static '/assets/js/config.js' %}"></script>
    <script src="{% static '/assets/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static '/assets/js/dataTables.bootstrap4.min.js' %}"></script>
    <script>
        $('#submitBtn').click(function () {
            var obj = {csrfmiddlewaretoken: '{{ csrf_token }}'};
            obj.location = $('input[name=location]:checked').map(function () {
                return this.value;
            }).get();

            obj.symmetry = $('input[name=symmetry]:checked').map(function () {
                return this.value;
            }).get();

            obj.polish = $('input[name=polish]:checked').map(function () {
                return this.value;
            }).get(); 
            
            obj.shape = $('input[name=shape]:checked').map(function () {
                return this.value;
            }).get();

            obj.clarity = $('input[name=clarity]:checked').map(function () {
                return this.value;
            }).get();

            obj.fancy = $('input[name=fancy]:checked').map(function () {
                return this.value;
            }).get();

            obj.weight = $('input[name=weight]:checked').map(function () {
                return this.value;
            }).get();
            
            obj.color = $('input[name=color]:checked').map(function () {
                return this.value;
            }).get();

            console.log(obj);
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: "{% url 'filter' %}",
                data: obj,
                success: function (response) {
                    if (response.status == "0") {
                        console.log(response.stocks)
                        var gia = $('.gia').hide()
                    }
                }
            })
        });
        function setactive(e) {
            var parentComponent = $(e).closest('.btn');
            if (parentComponent.hasClass('btn-outline-primary')) {
                parentComponent.removeClass("btn-outline-primary")
                parentComponent.addClass("btn-primary");
            }
            else {
                parentComponent.removeClass("btn-primary")
                parentComponent.addClass("btn-outline-primary");
            }

        }
        function getnongia(e) {
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: "{% url 'StockInfo' %}?flag=non-gia",
                success: function (response) {
                    if (response.status == "0") {
                        console.log(response.stocks)
                        var gia = $('.gia').hide()
                    }
                }
            })

        }

        function applyfilter(e) {


        }
    </script>
</body>