{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Diamond Details</title>
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="{% static '/assets/css/simplebar.css' %}">
    <!-- Fonts CSS -->
    <link
        href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="{% static '/assets/css/feather.css' %}">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="{% static '/assets/css/daterangepicker.css' %}">
    <!-- App CSS -->
    <link rel="stylesheet" href="{% static '/assets/css/app-light.css' %}" id="lightTheme">
    <link rel="stylesheet" href="{% static '/assets/css/app-dark.css' %}" id="darkTheme" disabled>

</head>

<body style="overflow: hidden">
    <nav class="topnav navbar navbar-light bg-white shadow">
        <div class="container-fluid">
            <ul class="nav">
                <li class="nav-item">
                    <div class="w-100 mb-1 d-flex my-2">
                        <a class="navbar-brand mx-auto  flex-fill " href="http://127.0.0.1:8000/">
                            <img src="{% static 'image/logo.png' %}" alt="" height="50px" width="50px">
                            <b>SAILAM LTD.</b>
                        </a>
                    </div>
                </li>
            </ul>
            <ul class="nav">
                <li class="nav-item float-right">
                    <h6>Email: sailam@contact.com {%if not user.is_authenticated%}<a href="{%url 'login' %}"
                            style="margin-left:15px ;"><span
                                style="text-decoration: underline; color: red">Login</span></a>{%endif%}</h6>
                </li>
            </ul>
        </div>
    </nav>

    <div class="card" style="padding-bottom: 50px;">
        <div class="row">
            <div class="col-sm-3" style="margin-right: 70px;">
                <div class=" container-fluid row float-left">

                    {%if pics.link != Null %}

                    <div>
                        <div class="card-body" id="contentdiv">
                            <iframe
                                src="https://diamondvid.blob.core.windows.net/diamond-vid/www/viewer3/Vision360.html?d={{pics.link}}"
                                frameborder="0" height="600px" width="500px" scrolling="no" id="maincontent"></iframe>
                        </div> <!-- /.card-body -->
                        <!-- /.card -->
                    </div>



                    <div class=" mb-4">
                        <!-- <div style="height:650px ; width:600px"> -->
                        <div class="card-body" style="justify-content: center;display:flex">

                            <div class="sdiv">
                                <img src="/media/uploads/images/{{pics.link}}.jpg" alt="" height="150px" width="150px"
                                    class="imgst" onclick="switch_main(this)">
                            </div>
                            <div class="sdiv">
                                <img src="/media/uploads/images/{{pics.link}}.jpg" alt="" height="150px" width="150px"
                                    onclick="switch_main(this)" class="imgst">
                            </div>
                            <div class="sdiv">
                                <img src="/media/uploads/images/{{pics.link}}.jpg" alt="" height="150px" width="150px"
                                    onclick="switch_main(this)" class="imgst">
                            </div>
                        </div> <!-- /.card-body -->
                        <!-- </div> -->
                    </div> <!-- /.card -->
                    <!-- /. col -->

                    {%endif%}

                </div>
            </div>
            <div class="col-sm-8 mt-4">
                <div class="row">
                    <div class="col-sm-4">
                        <h4 class="mb-3">GIA NO : {{info.GIA_NO}} <a style="margin-left: 5px;"
                                href="https://www.gia.edu/report-check?reportno={{info.GIA_NO}}"><i
                                    class="fe fe-link fe-14"></i></a></h4>
                        <h6>Price : {%if user.is_authenticated %}{{info.PRICE}}
                            {%else%}<a href="{%url 'login' %}"
                                style="margin-left: 5px;text-decoration: underline; color:red">
                                Login for Price</a>
                            {%endif%}</h6>

                    </div>
                    <div class="col-sm-8">
                        <div class="float-right">
                            <h6><i class="fe fe-map-pin fe-16" style="margin-right: 5px;"></i> Mumbai
                            </h6>
                        </div>
                    </div>
                </div>
                <hr class="mainhr">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="leftpad mb-4">Diamond Information</h4>
                    </div>
                    <div class="col-sm-6">
                        <p class="botpad">Stock ID</p>
                        <h5>{{info.STK_ID}}</h5>
                        <hr>
                    </div>
                    <div class="col-sm-6 ">
                        <p class="botpad">Shape</p>
                        <h5>{{info.SHAPE}}</h5>
                        <hr class="righthr">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <p class="botpad">Polish</p>
                        <h5>{{info.POL}}</h5>
                        <hr>
                    </div>
                    <div class="col-sm-6 ">
                        <p class="botpad">Color</p>
                        <h5>{{info.COLOR}}</h5>
                        <hr class="righthr">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <p class="botpad">Symmetry</p>
                        <h5>{{info.SYM}}</h5>
                        <hr>
                    </div>
                    <div class="col-sm-6 ">
                        <p class="botpad">Cut</p>
                        <h5>{{info.CUT}}</h5>
                        <hr class="righthr">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <p class="botpad">Fluorescence Color</p>
                        <h5>{{info.FLO_COL}}</h5>
                        <hr>
                    </div>
                    <div class="col-sm-6 ">
                        <p class="botpad">Mesurement</p>
                        <h5>{{info.MESUREMNT}}</h5>
                        <hr class="righthr">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <p class="botpad">Depth</p>
                        <h5>{{info.DEPTH}}</h5>
                        <hr>
                    </div>
                    <div class="col-sm-6 ">
                        <p class="botpad">Table</p>
                        <h5>{{info.TABLE}}</h5>
                        <hr class="righthr">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <p class="botpad">Weight</p>
                        <h5>{{info.CRT}}</h5>
                        <hr>
                    </div>
                    <div class="col-sm-6 ">
                        <p class="botpad">Remark</p>
                        <h5>{{info.REMARK}}</h5>
                        <hr class="righthr">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <p class="botpad">Description</p>
                        <h5>{{info.DESCRIPTION}}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class=" inq">
                        <p style=" font-size: 16px;">For Inquiry <i class="fe fe-message-square fe-24"></i></p>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <script>
        function switch_main(e) {

            var container1 = document.getElementById('contentdiv');
            var element1 = container1.childNodes[1];
            var element2 = e
            var container2 = element2.parentNode;

            // Clone the first element
            element1.style.height = '600px';
            element1.style.width = '500px';
            element2.style.height = '150px';
            element2.style.width = '150px';
            console.log(element1)
            console.log(element2)
            var clonedElement1 = element1.cloneNode(true);
            i = document.createElement('h2');
            i.textContent = "Hello"
            // Replace the first element with the second element
            container1.replaceChild(element2, element1);

            // Append the cloned first element as the second element
            container2.replaceChild(i, element2);
        }



    </script>


    <style>
        .inq {
            padding-left: 1190px;
        }

        .mainhr {
            width: 1350px;
        }

        .righthr {
            width: 700px;
        }

        .imgst {
            border-radius: 15px;
            margin-left: 8px;

        }

        .customheader {
            background-color: #d95d2eb8;
            color: white;
        }

        .botpad {
            margin-bottom: 5px;
            font-size: 15px;
        }
    </style>
</body>