{% extends 'base.html' %}
{% load static %}

{% block title%}
Sailam QR Code Scanner
{% endblock title%}

{%block header_files%}
<script src="{% static 'js/instascan.min.js'%}"></script>
<style>
  table.display {
    margin: 0 auto;
    width: 100%;
    clear: both;
    border-collapse: collapse;
    table-layout: fixed;          
    word-wrap:break-word;        
  }
</style>
<style>
  .editable {
    cursor: pointer;
  }

  .editable input {
    width: 100%;
    box-sizing: border-box;
  }

  .total {
    font-weight: bold;
  }
</style>
{%endblock header_files%}

{%block content%}
<div id="csrf">
{% csrf_token %}
</div>
<div class="card" style="width: 18rem">
  <button class="btn btn-primary" type="button" id="toggleButton" name="toggleButton">Start Camera</button>
  <video id="preview"></video></div>
</div>

<div class="card" style="margin-top:15px">
  <div class="card-body">
    <h5 class="card-title">Scan QR Code</h5>
    <div class="input-group">
      <input class="form-control" type="text" placeholder="Enter GIA or URL" id="gianum" name="gianum">
      <button class="btn btn-primary" type="button" id="getreport" name="getreport">Get Report</button>
    </div>
  </div>
</div>

  <div class="card" style="margin-top:15px">
    <div class="card-body">
      <ul class="nav nav-tabs" id="myTabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="false">Memo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Invoice</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="tab3-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">Sell</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="tab4-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab4" aria-selected="false">Hide</a>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
          <table id="memo_table" class="display table table-striped table-hover" cellspacing="0" width="100%">
            <thead class="thead-dark">
            <tr>
            <th>Stock Id</th>
            <th>Description</th>
            <th>Weight</th>
            <th>Remark</th>
            <th>Rate</th>
            <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
            </table>
            <button class="btn btn-info" id="submitmemo" >Generate Memo</button>
        </div>
        <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
          <table id="data-table" class="table table-striped table-hover" width="100%">
            <thead class="thead-dark">
              <tr>
                <th>NO.</th>
                <th>DESCRIPTION</th>
                <th>PCS.</th>
                <th>CTS</th>
                <th>CFR US $</th>
                <th>TOTAL US$</th>
              </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
              <tr>
                <td class="total">Total</td>
                <td></td>
                <td class="total" id="pcs-total"></td>
                <td class="total" id="cts-total"></td>
                <td class="total" id="cfr-total"></td>
                <td class="total" id="total-usd-total"></td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab tab4-tab">
          <p>General</p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="memoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Edit Memo Data</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="m1close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label for="desc-input">Description</label>
          <input class="form-control  mb-3" type="text" id="desc-input" placeholder="Description"/>
          <label for="weight-input">Weight</label>
          <input class="form-control  mb-3" type="text" id="weight-input" placeholder="Weight"/>
          <label for="remark-input">Remark</label>
          <input class="form-control  mb-3" type="text" id="remark-input" placeholder="Remark"/>
          <label for="rate-input">Rate</label>
          <input class="form-control  mb-3" type="text" id="rate-input" placeholder="Rate"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="m11close">Close</button>
          <button id="save-button" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="clientmemoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Enter Client Data</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label for="desc-input">Client Name</label>
          <input class="form-control  my-3" type="text" id="clientname" placeholder="Name"/>
          <label for="weight-input">Client Comapany</label>
          <input class="form-control  my-3" type="text" id="clientcompany" placeholder="Company"/>
          <label for="remark-input">Company Address</label>
          <textarea class="form-control  my-3"  id="companyaddress" placeholder="Address"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button id="getmemo" class="btn btn-info">Get Memo</button>
        </div>
      </div>
    </div>
  </div>
  

  <script>
    var dataTable;
    var inventTable;
    var target;
    $(document).ready(function () {
      dataTable=$("#memo_table").DataTable();
      $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
        target = $(e.target).attr("id");
      });
    });
    
    
    $(document).ready(function () {
      $('#getreport').click(
         function()
         {
            if(!$('#gianum').val())
            {
              alert("please write GIA Number");
              $('#gianum').css("border-color","red");
              return false;
            }  
            else{
              $('#gianum').css("border-color","black");
            }

            if(target === "tab1-tab") 
            {
              console.log('Inside tab1-tab')
                var value= $('#gianum').val()
                var request = new XMLHttpRequest();
                var json = "{% url 'memo_data' scanid=0 %}".replace('0', value)
                request.onload = function() {
                  if ( request.readyState === 4 && request.status === 200 ) {
                    var JSONObject = JSON.parse(request.responseText);
                    updatememoTable(JSONObject);
                  } else if(request.status == 400) { console.log("Error", request.status);}
                };
                  request.open("GET", json, true);
                  request.send();
            }
            else if(target==="tab2-tab")
            {
              console.log('Inside tab2-tab');
              var value= $('#gianum').val()
                var request = new XMLHttpRequest();
                var json = "{% url 'get_invoicedata' scanid=0 %}".replace('0', value)
                request.onload = function() {
                  if ( request.readyState === 4 && request.status === 200 ) {
                    var JSONObject = JSON.parse(request.responseText);
                    var res=json2array(JSONObject)
                    loadData(res);
                  } else if(request.status == 400) { console.log("Error", request.status);}
                };
                  request.open("GET", json, true);
                  request.send();
            } 
            else{
              alert('Please Select One Tab From Below');
            }

         }
      );
    });
  </script>
  <script>

    function json2array(json){
      var result = [];
      var keys = Object.keys(json);
      keys.forEach(function(key){
          result.push(json[key]);
      });
      return result;
  }

    function loadData(newData) {
      var Data = [
        { "NO.": "4", "DESCRIPTION": "Product 4", "PCS.": "8", "CTS": "80", "CFR US $": "2" },
        { "NO.": "2", "DESCRIPTION": "Product 2", "PCS.": "7", "CTS": "70", "CFR US $": "3.5" },
        { "NO.": "5", "DESCRIPTION": "Product 5", "PCS.": "2", "CTS": "20", "CFR US $": "4" }
      ];
        if (!inventTable) {
          console.log(newData);
          inventTable = $("#data-table").DataTable({
            data: newData,
            columns: [
              { data: "NO" },
              { data: "DESCRIPTION", className: "editable" },
              { data: "PCS", className: "editable" },
              { data: "CTS", className: "editable" },
              { data: "CFR US $", className: "editable" },
              { data: null, render: function(data, type, row) {
                var pcs = parseInt(row["PCS."]);
                var cfr = parseFloat(row["CFR US $"]);
                var totalUsd = pcs * cfr;
                return totalUsd.toFixed(2);
              }}
            ],
            footerCallback: function(row, data, start, end, display) {
              var api = this.api();
              var pcsTotal = api.column(2).data().reduce(function(a, b) { return parseInt(a) + parseInt(b); }, 0);
              var ctsTotal = api.column(3).data().reduce(function(a, b) { return parseFloat(a) + parseFloat(b); }, 0);
              var cfrTotal = api.column(4).data().reduce(function(a, b) { return parseFloat(a) + parseFloat(b); }, 0);
              var totalUsdTotal = api.column(5).data().reduce(function(a, b) { return parseFloat(a) + parseFloat(b); }, 0);

              $(api.column(2).footer()).html(pcsTotal);
              $(api.column(3).footer()).html(ctsTotal.toFixed(2));
              $(api.column(4).footer()).html(cfrTotal.toFixed(2));
              $(api.column(5).footer()).html(totalUsdTotal.toFixed(2));
            }
          });

          
          $("#data-table tbody").on("click", "td.editable", function() {
            var cell = $(this);
            var oldValue = cell.text();

            
            var input = $("<input>").attr("type", "text").val(oldValue).width("100%").on("blur", function() {
              var newValue = $(this).val();
              cell.text(newValue);

              
              if (cell.index() === 2 || cell.index() === 4) {
                var row = cell.closest("tr");
                var pcs = parseInt(row.find("td:eq(2)").text());
                var cfr = parseFloat(row.find("td:eq(4)").text());
                var totalUsd = pcs * cfr;
                row.find("td:eq(5)").text(totalUsd.toFixed(2));
              }
            }).on("keyup", function(event) {
              if (event.key === "Enter") {
                $(this).blur();
              }
            });

            cell.html(input).find("input").focus();
          });
        } else {
          newData.forEach(function(rowData) {
            var existingRow = inventTable.rows().data().filter(function(row) {
              return row["NO."] === rowData["NO."];
            }).toArray();

            if (existingRow.length === 0) {
              inventTable.row.add(rowData).draw(false);
            }
          });
        }
      }
  </script>
  
  <script>
    //script for memo
    
    function isRowExists(dataTable, rowData) {
      var rows = dataTable.rows().data().toArray();
      for (var i = 0; i < rows.length; i++) {
         if (rows[i][0] === rowData[0]) {
            return true;
         }
      }
      return false;
   }
   //functions related to memo
     function updatememoTable(data)
     {
        if(data.stk_id != "null")
        {
              var rowData = [];
              rowData.push(data.stk_id);
              rowData.push(data.desc);
              rowData.push(data.weight);
              rowData.push(data.remark);
              rowData.push(data.price);
              rowData.push('<button type="button" class="btn btn-primary btn-xs dt-edit mr-3" id="edit-button" ><span class="fe fe-edit fe-16" aria-hidden="true"></span></button><button type="button" class="btn btn-danger btn-xs dt-delete"><span class="fe fe-trash-2 fe-16" aria-hidden="true"></span></button>');
              if(!isRowExists(dataTable,rowData))
              {
                  dataTable.row.add(rowData).draw();

                $('.dt-delete').off('click');
                $('.dt-delete').each(function () {
                  $(this).on('click', function(evt){
                    $this = $(this);
                    var dtRow = $this.parents('tr');
                    if(confirm("Are you sure to delete this row?")){
                      dataTable.row(dtRow[0].rowIndex-1).remove().draw( false );
                    }
                  });
                });
              }
              else{
                alert('Data Already Exist');
              }
              
        }
      else{
        alert("Data For Given GIA Is Not Available Or Memo Is Already Prepared for this");
      }
    }
     //handles updation of memo
    $(document).ready(function() {
      var modal = $('#memoModal');
      var closeButton = $('.close');
      var saveButton = $('#save-button');
      var tbrow;

      $(document).on('click','#edit-button',function() {
        var row = $(this).closest('tr');
        tbrow=row;
        var desc = row.find('td:eq(1)').text();
        console.log(desc)
        var weight = row.find('td:eq(2)').text();
        var remark = row.find('td:eq(3)').text();
        var rate = row.find('td:eq(4)').text();
        $('#edit-button').modal('show');
        modal.modal({ show: true });
        $('#desc-input').val(desc);
        $('#weight-input').val(weight);
        $('#remark-input').val(remark);
        $('#rate-input').val(rate);
      });
    
      $(document).on('click','#save-button',function() {
        var desc = $('#desc-input').val();
        var weight = $('#weight-input').val();
        var remark = $('#remark-input').val();
        var rate = $('#rate-input').val();
        console.log(rate);
        tbrow.find('td:eq(1)').text(desc);
        tbrow.find('td:eq(2)').text(weight);
        tbrow.find('td:eq(3)').text(remark);
        tbrow.find('td:eq(4)').text(rate);
        modal.modal('hide');
        $('.modal-backdrop').remove();
      });
    });

    $(document).on('click','#m11close',function() {
      $('.modal-backdrop').remove();
    });

    $(document).on('click','#m1close',function() {
      $('.modal-backdrop').remove();
    });

    $(document).on('click','#submitmemo',function(){
      var modal = $('#clientmemoModal');
       if(dataTable.data().count()>0)
       {
        modal.modal({ show: true });
       }
       else{
        alert('Select At least Single Entry for Memo')
       }
    });

    $(document).on('click','#getmemo',function(){
      var clientmodal=$('#clientmemoModal')
      var clientname=$('#clientname').val();
      var clientcompany=$('#clientcompany').val();
      var address=$('textarea#companyaddress').val();
      var data= dataTable.rows().data();
      var memo={};
      var client={};
      client['name']=clientname;
      client['company']=clientcompany;
      client['address']=address;
      memo['diamond']=[];
      for(var i=0;i<data.length;i++)
      {
        var diamond = {};
        var row=data[i];
        diamond['stk_no']=row[0];
        diamond['description']=row[1];
        diamond['weight']=row[2];
        diamond['remark']=row[3];
        diamond['rate']=row[4];
        memo['diamond'].push(diamond);
      }
      memo['client']=client;
      var resp=JSON.stringify(memo);
      sendmemodata(resp);
      clientmodal.modal('hide');
      dataTable.clear().draw();
    });
   
    function sendmemodata(data){
      $.ajax({
        type: "POST",
        headers: {'X-CSRFToken': document.getElementById('csrf').querySelector('input').value},
        url: "{% url 'setmemo' %}",
        data: data,
        contentType: 'application/json',
        success: function(response){
          var filename=response
          window.open("{% url 'pdf_response'  file_name=0 %}".replace('0', filename));
        },
      });
    }
  </script>
  
  <script>
    var scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
    var isCameraOn = false;
    scanner.addListener('scan', function (content) {
      document.getElementById("gianum").value=content;
   });

    document.getElementById('toggleButton').addEventListener('click', function() {
        if (!isCameraOn) {
            startCamera();
        } else {
            stopCamera();
        }
    });

    function startCamera() {
     Instascan.Camera.getCameras().then(function (cameras) {
       if (cameras.length > 1) {
         scanner.start(cameras[1]);
       }
       else if(cameras.length > 0){
        scanner.start(cameras[0]);
       } else {
         console.error('No cameras found.');
       }
        isCameraOn = true;
        document.getElementById('toggleButton').textContent = 'Stop Camera';
        }).catch(function(e) {
            console.error(e);
        });
    }

    function stopCamera() {
      Instascan.Camera.getCameras().then(function (cameras) {
      if (cameras.length > 1) {
        scanner.stop(cameras[1]);
      }
      else if(cameras.length > 0){
       scanner.stop(cameras[0]);
      }
    });
        isCameraOn = false;
        document.getElementById('toggleButton').textContent = 'Start Camera';
    }
  </script>
{%endblock content%}