{% extends 'base.html' %}
{% load static %}

{% block title%}
Diamond Stock
{% endblock title%}

{% block content%}
<div id="csrf">
  {% csrf_token %}
</div>
<table class="table table-hover table-borderless border-v" id="datatable">
  <thead class="thead-dark">
    <tr>
      <th>GIA No</th>
      <th>Stock Id</th>
      <th>Weight</th>
      <th>Mesurement</th>
      <th>Clarity</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for stock in stocks %}
    <tr class="accordion-toggle collapsed" id="c-{{stock.Id}}" data-toggle="collapse" data-parent="#c-{{stock.Id}}"
      href="#collap-{{stock.Id}}">
      <td>{{stock.GIA_NO}}</td>
      <td>{{stock.STK_ID}}</td>
      <td>{{stock.CRT}}</td>
      <td>{{stock.MESUREMNT}}</td>
      <td>{{stock.CLARITY}}</td>
      <td>{{stock.PRICE}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-xs dt-edit" id="edit"><span class="fe fe-edit fe-16"
            aria-hidden="true"></span></button>
      </td>
    </tr>
    <tr id="collap-{{stock.Id}}" class="collapse in p-3 bg-light">
      <td colspan="16">
        <dl class="row mb-0 mt-1">
          <dt class="col-sm-1">Color</dt>
          <dd class="col-sm-2">{{stock.COLOR}}</dd>
          <dt class="col-sm-1">Polish</dt>
          <dd class="col-sm-2">{{stock.POL}}</dd>
          <dt class="col-sm-1 ">Symmetry</dt>
          <dd class="col-sm-2">{{stock.SYM}}</dd>
          <dt class="col-sm-1 ">Cut</dt>
          <dd class="col-sm-2">{{stock.CUT}}</dd>
          <dt class="col-sm-1 ">Fluorescence Color</dt>
          <dd class="col-sm-2">{{stock.FLO_COL}}</dd>
          <dt class="col-sm-1 ">Depth</dt>
          <dd class="col-sm-2">{{stock.DEPTH}}</dd>
          <dt class="col-sm-1 ">Table</dt>
          <dd class="col-sm-2">{{stock.TABLE}}</dd>
          <dt class="col-sm-1 ">Remarks</dt>
          <dd class="col-sm-2 ">{{stock.REMARK}}</dd>
        </dl>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="float-right" id="dataTable-1_paginate pageprev" style="margin-left: 1450px;">
  <ul class="pagination">
    {%if stocks.has_previous %}
    <li class="paginate_button page-item previous" id="dataTable-1_previous"><a href="?page=1"
        aria-controls="dataTable-1" data-dt-idx="0" tabindex="0" class="page-link">First</a>
    <li class="paginate_button page-item previous" id="dataTable-1_previous"><a
        href="?page={{stocks.previous_page_number}}" aria-controls="dataTable-1" data-dt-idx="0" tabindex="0"
        class="page-link">Previous</a>
    </li>
    {% endif %}
    <li class="paginate_button page-item disabled"><a href="#" aria-controls="dataTable-1" data-dt-idx="1" tabindex="0"
        class="page-link">{{stocks.number}}</a></li>
    {%if stocks.has_next %}
    <li class="paginate_button page-item next pagenext" id="dataTable-1_next"><a
        href="?page={{stocks.next_page_number}}" aria-controls="dataTable-1" data-dt-idx="5" tabindex="0"
        class="page-link">Next</a></li>
    <li class="paginate_button page-item next pagenext" id="dataTable-1_next"><a href="?page={{last_page}}"
        aria-controls="dataTable-1" data-dt-idx="5" tabindex="0" class="page-link">Last</a></li>
    {% endif %}
  </ul>
</div>


<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit Diamond Data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="desc-input">Weight</label>
        <input class="form-control  my-3" type="number" id="weight" placeholder="Weight" />
        <label for="weight-input">Measurement</label>
        <input class="form-control  my-3" type="text" id="measurement" placeholder="Measurement" />
        <label for="remark-input">Clarity</label>
        <input class="form-control  my-3" type="text" id="clarity" placeholder="Clarity"></input>
        <label for="remark-input">Price</label>
        <input class="form-control  my-3" type="number" id="price" placeholder="Price"></input>
        <label for="remark-input">Color</label>
        <input class="form-control  my-3" type="text" id="color" placeholder="Color"></input>
        <label for="remark-input">Polish</label>
        <input class="form-control  my-3" type="text" id="polish" placeholder="Polish"></input>
        <label for="remark-input">Symmetry</label>
        <input class="form-control  my-3" type="text" id="symmetry" placeholder="Symmetry"></input>
        <label for="remark-input">Cut</label>
        <input class="form-control  my-3" type="text" id="cut" placeholder="Cut"></input>
        <label for="remark-input">Fluorescence Color</label>
        <input class="form-control  my-3" type="text" id="fluorescence" placeholder="Fluorescence Color"></input>
        <label for="remark-input">Depth</label>
        <input class="form-control  my-3" type="text" id="depth" placeholder="Depth"></input>
        <label for="remark-input">Table</label>
        <input class="form-control  my-3" type="text" id="table" placeholder="Table"></input>
        <label for="remark-input">Remarks</label>
        <input class="form-control  my-3" type="text" id="remarks" placeholder="Remarks"></input>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="updatediamond" class="btn btn-info">Update</button>
      </div>
    </div>
  </div>
</div>
<script>

  {% comment %} $(document).ready(function () {

    dataTable = $("#datatable").DataTable();
  }); {% endcomment %}

   var selrow;
   var selchild;
  $(document).on("click", "#edit", function () {
    var row = $(this).closest('tr');
    selrow=row;
    var child = $(this).closest('tr').next('tr');
    selchild=child;
    //variables 
      var weight =row.find("td:eq(2)").text();
      var measurement =row.find("td:eq(3)").text();
      var clarity =row.find("td:eq(4)").text();
      var price =row.find("td:eq(5)").text();
      var color =child.find("dd:eq(0)").text();
      var polish=child.find("dd:eq(1)").text();
      var symmetry=child.find("dd:eq(2)").text();
      var cut=child.find("dd:eq(3)").text();
      var fluorescence=child.find("dd:eq(4)").text();
      var depth=child.find("dd:eq(5)").text();
      var table=child.find("dd:eq(6)").text();
      var remarks=child.find("dd:eq(7)").text();

      var modal = $('#editModal');
      modal.modal({ show: true }); 
      $('#weight').val(weight);
      $('#measurement').val(measurement);
      $('#clarity').val(clarity);
      $('#price').val(price);
      $('#color').val(color);
      $('#polish').val(polish);
      $('#symmetry').val(symmetry);
      $('#cut').val(cut);
      $('#fluorescence').val(fluorescence);
      $('#depth').val(depth);
      $('#table').val(table);
      $('#remarks').val(remarks);
    }); 

    $(document).on("click","#updatediamond",function(){
         var row=selrow;
         var child=selchild;
         var modal = $('#editModal');
         var weight=$('#weight').val();
         var measurement=$('#measurement').val();
         var clarity=$('#clarity').val();
         var price=$('#price').val();
         var color=$('#color').val();
         var polish=$('#polish').val();
         var symmetry=$('#symmetry').val();
         var cut=$('#cut').val();
         var fluorescence=$('#fluorescence').val();
         var depth=$('#depth').val();
         var table=$('#table').val();
         var remarks=$('#remarks').val();
  

         update={}
         update['stk_id']=row.find("td:eq(1)").text();
         update['weight']=weight;
         update['measurement']=measurement;
         update['clarity']=clarity;
         update['price']=price;
         update['color']=color;
         update['polish']=polish;
         update['symmetry']=symmetry;
         update['cut']=cut;
         update['fluorescence']=fluorescence;
         update['depth']=depth;
         update['table']=table;
         update['remarks']=remarks;
         var resp=JSON.stringify(update);

         //set value of table cell
         var dochange=sendinvdata(resp)
         const obj = JSON.parse(dochange); 
        if(obj.message==="success")
        {
          row.find("td:eq(2)").text(weight);
          row.find("td:eq(3)").text(measurement);
          row.find("td:eq(4)").text(clarity);
          row.find("td:eq(5)").text(price);
          child.find("dd:eq(0)").text(color);
          child.find("dd:eq(1)").text(polish);
          child.find("dd:eq(2)").text(symmetry);
          child.find("dd:eq(3)").text(cut);
          child.find("dd:eq(4)").text(fluorescence);
          child.find("dd:eq(5)").text(depth);
          child.find("dd:eq(6)").text(table);
          child.find("dd:eq(7)").text(remarks);
        }
        else{
          alert("Updation fail due to some error");
        }
         modal.modal('hide');
    });
    
    function sendinvdata(data){
     var result=$.ajax({
        type: "POST",
        global: false, 
        async:false,
        headers: {'X-CSRFToken': document.getElementById('csrf').querySelector('input').value},
        url: "{% url 'updateinv' %}",
        data: data,
        contentType: 'application/json',
        success: function(response){
          return response;
        },
      }).responseText;
      return result;
    }
</script>
{% endblock content%}