{% extends 'base.html' %}
{% load static %}

{% block title%}
Diamond Stock
{% endblock title%}

{% block content%}
<table class="table table-hover table-borderless border-v">
  <thead class="thead-dark">
    <tr>
      <th>GIA No</th>
      <th>Stock Id</th>
      <th>Weight</th>
      <th>Mesurement</th>
      <th>Clarity</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for stock in stocks %}
    <tr class="accordion-toggle collapsed" id="c-{{stock.Id}}" data-toggle="collapse" data-parent="#c-{{stock.Id}}"
      href="#collap-{{stock.Id}}">
      <td>{{stock.GIA_NO}}</td>
      <td>{{stock.STK_ID}}</td>
      <td>{{stock.CRT}}</td>
      <td>{{stock.MESUREMNT}}</td>
      <td>{{stock.CLARITY}}</td>
      <td>{{stock.PRICE}}</td>
      <td><button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span class="text-muted sr-only">Action</span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#">Edit</a>
          <a class="dropdown-item" href="#">Remove</a>
          <a class="dropdown-item" href="#">Assign</a>
        </div>
      </td>
    </tr>
    <tr id="collap-{{stock.Id}}" class="collapse in p-3 bg-light">
      <td colspan="16">
        <dl class="row mb-0 mt-1">
          <dt class="col-sm-1">Color</dt>
          <dd class="col-sm-2">{{stock.COLOR}}</dd>
          <dt class="col-sm-1">Polish</dt>
          <dd class="col-sm-2">{{stock.POL}}</dd>
          <dt class="col-sm-1 ">Symmetry</dt>
          <dd class="col-sm-2">{{stock.SYM}}</dd>
          <dt class="col-sm-1 ">Cut</dt>
          <dd class="col-sm-2">{{stock.CUT}}</dd>
          <dt class="col-sm-1 ">Fluorescence Color</dt>
          <dd class="col-sm-2">{{stock.FLO_COL}}</dd>
          <dt class="col-sm-1 ">Depth</dt>
          <dd class="col-sm-2">{{stock.DEPTH}}</dd>
          <dt class="col-sm-1 ">Table</dt>
          <dd class="col-sm-2">{{stock.TABLE}}</dd>
          <dt class="col-sm-1 ">Remarks</dt>
          <dd class="col-sm-2 ">{{stock.REMARK}}</dd>
        </dl>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="float-right" id="dataTable-1_paginate pageprev" style="margin-left: 1450px;">
  <ul class="pagination">
    {%if stocks.has_previous %}
    <li class="paginate_button page-item previous" id="dataTable-1_previous"><a href="?page=1"
        aria-controls="dataTable-1" data-dt-idx="0" tabindex="0" class="page-link">First</a>
    <li class="paginate_button page-item previous" id="dataTable-1_previous"><a
        href="?page={{stocks.previous_page_number}}" aria-controls="dataTable-1" data-dt-idx="0" tabindex="0"
        class="page-link">Previous</a>
    </li>
    {% endif %}
    <li class="paginate_button page-item disabled"><a href="#" aria-controls="dataTable-1" data-dt-idx="1" tabindex="0"
        class="page-link">{{stocks.number}}</a></li>
    {%if stocks.has_next %}
    <li class="paginate_button page-item next pagenext" id="dataTable-1_next"><a
        href="?page={{stocks.next_page_number}}" aria-controls="dataTable-1" data-dt-idx="5" tabindex="0"
        class="page-link">Next</a></li>
    <li class="paginate_button page-item next pagenext" id="dataTable-1_next"><a href="?page={{last_page}}"
        aria-controls="dataTable-1" data-dt-idx="5" tabindex="0" class="page-link">Last</a></li>
    {% endif %}
  </ul>
</div>
{% endblock content%}