{% extends 'base.html' %}
{% load static %}

{% block title%}
 User Profiles
{% endblock title%}

{% block content%}
<div class="col-lg-12">
<table class="table table-striped hover " id="datatable" style="width:100%">
    <thead class="thead-dark">
        <tr>
          <th>No.</th>
          <th>Name</th>
          <th>UserName</th>
          <th>Role</th>
          <th>CreatedOn</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody></tbody>
</table>
</div>

<script>
    $(document).ready(function() {
        var table = $('#datatable').DataTable({
          responsive: true,
          columnDefs: [
            { "targets": "_all", "className": 'details-control', "defaultContent": "-", }
          ]
        });
      
        $.ajax({
          url: "{% url 'get_profiles' %}", 
          method: 'GET',
          dataType: 'json',
          success: function(data) {
           populateDataTable(data);
          },
          error: function(xhr, status, error) {
            console.error(error);
          }
        });
      
        // Function to populate DataTable with data
        function populateDataTable(data) {
            var cnt=1;
          $.each(data, function(index, item) {
            var row = [
              cnt,
              item.name,
              item.username,
              item.role,
              item.date,
            ];
            console.log(item.isActive)
            if(item.isActive)
            {
                row.push('<p class="font-weight-bold" style="color: green;">Active</p>');
            }
            else
            {
                row.push('<p class="font-weight-bold" style="color: red;">InActive</p>');
            }
            cnt++;
            var datatableRow = table.row.add(row).draw();
          });
        }
    });
      
</script>
{% endblock content%}